<div class="container-fluid contact-form one">
    <h3 class="headerText">Contact Me</h3>
    <br/>
    <div class="socialbtns">
        <ul>
            <li><a href="https://www.facebook.com/linkdom94" class="fa fa-lg fa-facebook"></a></li>
            <li><a href="https://twitter.com/linkdomat" class="fa fa-lg fa-twitter"></a></li>
            <li><a href="https://github.com/linko1994" class="fa fa-lg fa-github"></a></li>
            <li><a href="https://www.linkedin.com/in/linkdom/" class="fa fa-lg fa-linkedin"></a></li>
            <li><a href="https://www.instagram.com/linko2201" class="fa fa-lg fa-instagram"></a></li>
            <li><a href="https://www.youtube.com/channel/UC2u4mj7ZXeMaXtwxNqUzpew" class="fa fa-lg fa-youtube"></a></li>
        </ul>
    </div>
    <div class="ggbox">
        <p class="overandout">Handcrafted by me</p>
        <br>
        <p class="overandout">Made with</p><img src="assets/img/angular.png" alt="">
    </div>

</div>