<div id="projects" class="container-fluid one">
    <h3 class="projectHeading">Projects</h3>
    <div class="container">
        <div>
          <span>ImmoAbs</span>
          <p class="techUsed">Work in Progress</p>
          <a target="__blank" href="http://www.immoabs.at"><img src="assets/img/immoabsbox.jpg" alt=""></a>
        </div>
        <div>
          <span>Kaiserrast</span>
          <p class="techUsed">Laravel,HTML,CSS,Javascript,PHP,Stripe</p>
          <a target="__blank" href="https://www.kaiserrast.at"><img src="assets/img/kaiserrastbox.jpg" alt=""></a>
        </div>
        <div>
          <span>Portfolio</span>
          <p class="techUsed">Angular,HTML,CSS,Javascript,Photoshop</p>
          <a href="/"><img src="assets/img/dlbox.jpg" alt=""></a>
        </div>
        <div>
          <span>Piepschmatz</span>
          <p class="techUsed">HTML,CSS,Javascript,Photoshop</p>
          <a href="https://github.com/linko1994/Piepschmatz_Homepage"><img src="assets/img/piepschmatzbox.jpg" alt=""></a>
        </div>
      </div>

</div>